<div class="actions">

  <button mat-stroked-button (click)="viewMode = 'list'" [class.active-view]="viewMode === 'list'">
    <span class="btn-content"><mat-icon>list</mat-icon> Lista</span>
  </button>

  <button mat-stroked-button (click)="viewMode = 'calendar'" [class.active-view]="viewMode === 'calendar'">
    <span class="btn-content"><mat-icon>calendar_month</mat-icon> Calendario</span>
  </button>

</div>


@if (loading()) {

<div class="loading-container">
  <p>Cargando citas...</p>
</div>

} @else if (error()) {

<div class="error-container">
  <p>{{ error() }}</p>

  <button mat-flat-button (click)="loadCitas()">
    Reintentar
  </button>
</div>

} @else {

@if (viewMode === 'list') {

<app-citas-list [citas]="citas()">
</app-citas-list>

}

@if (viewMode === 'calendar') {

<app-citas-calendar [citas]="citas()" (statusChanged)="loadCitas()">
</app-citas-calendar>

}

}