<div class="actions">

  <button (click)="viewMode = 'list'">
    <mat-icon>list</mat-icon>
    Lista
  </button>

  <button (click)="viewMode = 'calendar'">
    <mat-icon>calendar_month</mat-icon>
    Calendario
  </button>

</div>


@if (loading()) {

<div class="loading-container">
  <p>Cargando citas...</p>
</div>

} @else if (error()) {

<div class="error-container">
  <p>{{ error() }}</p>

  <button mat-flat-button (click)="loadCitas()">
    Reintentar
  </button>
</div>

} @else {

@if (viewMode === 'list') {

<app-citas-list [citas]="citas()">
</app-citas-list>

}

@if (viewMode === 'calendar') {

<app-citas-calendar [citas]="citas()">
</app-citas-calendar>

}

}